<body>
  <h1><%=@team.name%></h1>
  <h2>Team Motto: <%@team.motto%></h2>
  <h2>Hero Name:</h2>

<h2>Display your first ship here</h2>
  <p>Ship Name: <%=@ship1.name%></p>
  <p>Ship Type: <%=@ship1.type%></p>
  <p>Ship Booty: <%=@ship1.booty%></p>


<h2>Display your second ship here</h2>
  <p>Ship Name: <%=@ship2.name%></p>
  <p>Ship Type: <%=@ship2.type%></p>
  <p>Ship Booty: <%=@ship2.booty%></p>
</body>


